.analysis-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    margin-top:8rem;
}

h3 {
    color: #555;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

analysis-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    background: #f9f9f9;
}

.nav-buttons{
    display: flex;
    margin-top: 7rem;
    flex-direction: row;

}
.analysis-container img {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    margin-bottom: 20rem;

}

.analysis-container {
    max-width: 800px;
    margin: 0 auto;
}

.scroll-button {
    width: 15rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 3rem;
    margin-right: 10px;
    padding: 10px 15px;
    gap:5rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Pretendard, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    border: none;
}

.scroll-button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 50px;
}

@media (max-width: 600px) {
    .analysis-container {
        padding: 10px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}
